.notes-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.form-group {
  display: flex;
  gap: 1rem;
}
textarea {
  width: 75%;
  resize: none;
  height: 80px;
}

.note-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.note {
  display: grid;
  grid-template-columns: 100px 500px 100px;
  gap: 1rem;
}

.action {
  display: flex;
  gap: 1rem;
}
